body {
  background: linear-gradient(to right, #f0f4f8, #e0e7ef);
  padding-bottom: 90px;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 15px;
}

footer {
  background-color: #f8f9fa;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

@media print {
  body * {
    visibility: collapse;
  }

  .table-responsive {
    visibility: visible;
  }

  .table-responsive * {
    visibility: visible;
  }
}

.form-signin {
  max-width: 400px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
